
@media (max-width: 768px) {
    .landingField51Div, .landingField52Div {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      

    }
}

@media (max-width: 768px) {
  .NewsImg {
    min-width: 80vw;
    max-width: 80vw;
    height: auto;
    padding: 10vw;
    

  }
}

@media (max-width: 768px){
  .landingField34Div {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
  }
}



