.settingspage h1 {
    font-size: 45px;
    font-family: 'Euclid Circular B';
}

.settingspage h2 {
    font-size: 28px;
    font-family: 'Euclid Circular B';
    font-weight:normal;
}

.settingspage p {
    color: grey;
    font-family: 'Euclid Circular B';
}