.main-footer {
    bottom: 0;
    position: relative;
}

.row {
    display: flex;
    flex-flow:row wrap;
    flex: 1 0 100%;
    background-color: none;
    
}

.col1 {
    flex: 0 2 16.15%;
    
}

.col2 {
    flex: 0 2 16.15%;
    text-align: left;
}

.col3 {
    flex: 0 1 33.83%;
    text-align: center;
}

.divider {
    position: relative;
    left: 50%;
    width: 2px;
    margin: 6px 0;
    background: black;
    height: 70%;
}

.list1 {
    position: relative;
    left: 60%;
    top: 22%;
}

.list2 {
    position: relative;
    left: 10%;
    top: 61%;
}

