
.navButton {
    background: none;
    border: solid transparent 3px;
    width: 100px;  
    font-size: 18px;
    font-family: sans-serif; 
    font-weight: 500; 
    color: #001826; 
    margin: 20px; 
    padding: 20px 0px 20px 0px;
}
.navButton:hover {
    transition: all .1s ease-in-out;
    border-bottom: solid #709E9B 3px;
    cursor: pointer;
}
.navButton:active {
    border-bottom: solid #709E9B 3px;
}

.donationbutton:hover {
    transition: all .1s ease-in-out;
    border-bottom: solid #709E9B 3px;
    cursor: pointer;
    color: #709E9B;
    background-color: #709E9B;
}

.actionbutton {
    transition: all .1s ease-in-out;
    border-bottom: solid #709E9B 3px;
    cursor: pointer;
    color: white;
    background-color: white;
}


.actionbutton:hover {
    transition: all .1s ease-in-out;
    border-bottom: solid #709E9B 3px;
    cursor: pointer;
    background-color: white;
}

