.workwork {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.work-section {
    width: 100%;
    background: #edcbb185;
    overflow: hidden;
    
}
.work-container {
    min-height: 439px;
    width: 70%;


    min-height: 439px;
    overflow: hidden;
    
}
.work-container {
    min-height: 439px;
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.work-content-section {
    float: right;
    width: 55%;

    margin-bottom: 50px;
}
.work-image-section {
    float: left;
    width: 30%;

}
.work-image-section {
    float: left;
    width: 30%;
}
.work-image-section img {
    width: 100%;
    height: auto;
}
.work-content-section .work-title {
    font-size: 28px;
    font-weight: 400;
}
.work-content-section .work-content p {
    margin-top: 24px;
    color: #000;
    font-size: 17px;
    line-height: 1.5;
}